
@font-face {
    font-family: "SeatBlack";
    src: url(../fonts/SeatBcn-Black.woff) format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SeatBold";
    src: url(../fonts/SeatBcn-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SeatRegular";
    src: url(../fonts/SeatBcn-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.seatBlack {
    font-family: "SeatBlack",sans-serif
}

.seatBold {
    font-family: "SeatBold",sans-serif
}

.seatRegular {
    font-family: "SeatRegular",sans-serif
}
:root {
    --scale: 1;
    --scale-element: 1;
    --scale-font: 1;
}

.bg-ibiza{
    background: #d40028;
}
